http_interactions:
- request:
    method: post
    uri: https://correlcloud.org/ocs/v1.php/cloud/groups?format=json
    body:
      encoding: ''
      string: groupid=testgroup
    headers:
      Authorization: fake token
      OCS-APIRequest: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"ocs":{"meta":{"status":"ok","statuscode":100,"message":"OK","totalitems":"","itemsperpage":""},"data":[]}}'
  recorded_at: 2021-12-16 10:33:50 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
