http_interactions:
- request:
    method: post
    uri: https://correlcloud.org/ocs/v1.php/cloud/users?format=json
    body:
      encoding: ''
      string: userid=FirstL,email=first@example.com
    headers:
      Authorization: fake token
      OCS-APIRequest: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"ocs":{"meta":{"status":"ok","statuscode":100,"message":"OK","totalitems":"","itemsperpage":""},"data":{"id":"FirstL"}}}'
  recorded_at: 2021-12-15 15:23:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: put
    uri: https://correlcloud.org/ocs/v1.php/cloud/users/FirstL?format=json&key=display&value=First%20Last
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fake token
      OCS-APIRequest: 'true'
      Content-Type: application/x-www-form-urlencoded
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"ocs":{"meta":{"status":"ok","statuscode":100,"message":"OK","totalitems":"","itemsperpage":""},"data":[]}}'
  recorded_at: 2021-12-15 15:23:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://correlcloud.org/ocs/v1.php/cloud/users/FirstL?format=json
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: fake token
      OCS-APIRequest: 'true'
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: '{"ocs":{"meta":{"status":"ok","statuscode":100,"message":"OK","totalitems":"","itemsperpage":""},"data":{"enabled":true,"storageLocation":"\/home\/sites\/site100006666\/web\/data\/FirstL","id":"FirstL","lastLogin":0,"backend":"Database","subadmin":[],"quota":{"quota":"none","used":0},"email":"first@example.com","displayname":"First
        Last","phone":"","address":"","website":"","twitter":"","groups":[],"language":"","locale":"","backendCapabilities":{"setDisplayName":true,"setPassword":true}}}}'
  recorded_at: 2021-12-15 15:23:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
